.lockscreen-container {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
}

.password-container-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.password-container-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px
}

.lock-icon {
    color: black;
    background-color: white;
    border-radius: 100%;
    padding: 5px;
    font-size: 50px;
    margin-bottom: 50px;
}

.password-input {
    width: 500px;
    height: 50px;
}

.password-button {
    width: 150px;
    height: 42px;
    font-size: 24px;
}


.incorrect {
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: 1;

  background-color: red;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}